/*=============njfklewn=========*/

#about-hero {
    height: 450px;
    background-image: url("../image/lion1.jpg");
    background-position: center;
    background-size: cover;
    margin-top: 80%;
}


.column{
    float:left;
    width:33%;
}

.colum h3 {
    text-align: center;
    font-weight:600;
}

.column>p{
    text-align:justify;
    padding:8px;
}

#col-1 button{
    background-color: #BE9640;
    
}